<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/00e818b4-ce4e-4db2-8e87-995f4a70deb4/resourcegroups/DM106/providers/Microsoft.Web/sites/PauloSouzaTrabalhoDM106</ResourceId>
    <ResourceGroup>DM106</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://paulosouzatrabalhodm106.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>paulosouzatrabalhodm106.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PauloSouzaTrabalhoDM106</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PauloSouzaTrabalhoDM106</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PauloSouzaTrabalhoFinalDM106.Models.ApplicationDbContext, PauloSouzaTrabalhoFinalDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PauloSouzaTrabalhoFinalDM106Context" Order="2" Enabled="True">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PauloSouzaTrabalhoFinalDM106.Models.PauloSouzaTrabalhoFinalDM106Context, PauloSouzaTrabalhoFinalDM106" MigrationConfiguration="PauloSouzaTrabalhoFinalDM106.Migrations.Configuration, PauloSouzaTrabalhoFinalDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PauloSouzaTrabalhoFinalDM106Context-Web.config Connection String" />
  </ItemGroup>
</Project>